.acciones{
    display: flex;
    gap: 10px;
    align-items: center;
}

.acciones-centradas{
    justify-content: center;
}

/* BOTÓN EDITAR */

.btn-editar{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
        text-shadow: 
        -1px -1px 0 #00b3ff,
        -1px -1px 0 #00b3ff,
        -1px -1px 0 #00b3ff,
        -1px -1px 0 #00b3ff;
}

.btn-editar:hover{
    background: #1d4ed8;
}

/* BOTÓN ELIMINAR */

.btn-eliminar{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 8px;
    background: #dc2626;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
        text-shadow: 
        -1px -1px 0 #00b3ff,
        -1px -1px 0 #00b3ff,
        -1px -1px 0 #00b3ff,
        -1px -1px 0 #00b3ff;
}

.btn-eliminar:hover{
    background: #b91c1c;
}
